(
    events: [
        (
            name: "Event",
            entrant: Individual,
            participants: [
                "example_1",
            ],
            challenge: "sporting",
        ),
    ],
    individuals: [
        (
            name: "example_4",
            score: 7,
        ),
        (
            name: "example_7",
            score: 5,
        ),
    ],
    teams: [
        (
            name: "example_2",
            members: [
                "example_3",
            ],
            score: 0,
        ),
    ],
)